<div class="row">
  <div class="col-md-1 col-sm-1" ng-repeat="weekday in controller.weekHeader">
      {{ weekday }}
  </div>
</div>
<div class="row" ng-repeat="week in controller.calendar">
  <div class="col-md-1 col-sm-1" ng-repeat="date in week">
      {{ date.day }}
  </div>
</div>
